{# templates/author/showAuthor.html.twig #}
<h1>{{ author.username }}</h1>
<img src="{{ asset(author.picture) }}" alt="Author Picture">
<p>Email: {{ author.email }}</p>
<p>Number of books: {{ author.nb_books }}</p>